<form class="form-inline" (submit)="onSendMessage()">
    <div class="flex-grow-1 mr-sm-2">
      <textarea
        class="form-control chat-form__text-area"
        placeholder="enter your message"
        name="message"
        #textArea
        [(ngModel)]="messageText"
        (keyup)="resizeTextArea()"
        (keyup.enter)="onSendMessage()"
      >
      </textarea>
    </div>
    <button
      [disabled]="!messageText.length"
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
    >
      Send
    </button>
  </form>